[tool.poetry]
authors = ["Guillaume Gauvrit <guillaume@gauvr.it>"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: BSD License",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Internet :: WWW/HTTP",
]
description = "REST API Client"
homepage = "https://github.com/mardiros/blacksmith"
license = "BSD-derived"
name = "blacksmith"

readme = "README.rst"
repository = "https://github.com/mardiros/blacksmith"
version = "0.4.0"

[tool.poetry.dependencies]
aiobreaker = {version = "^1.2.0", optional = true}
httpx = "^0.20.0"
prometheus-client = {version = "^0.12.0", optional = true}
pydantic = "^1.8.2"
python = "^3.7"
typing-extensions = "^4.0.1"

[tool.poetry.extras]
prometheus = ["prometheus-client"]
"circuit-breaker" = ["aiobreaker"]

[tool.poetry.dev-dependencies]
Sphinx = "^4.2.0"
aiobreaker = "^1.2.0"
black = "^21.9b0"
coverage = {version = "^6.2", extras = ["toml"]}
fastapi = "^0.70.0"
isort = "^5.9.3"
prometheus-client = "^0.12.0"
pytest = "^6.2.5"
pytest-asyncio = "^0.16.0"
pytest-cov = "^3.0.0"
sphinx-rtd-theme = "^1.0.0"
uvicorn = "^0.15.0"
tomlkit = "^0.7.2"

[tool.pytest.ini_options]
norecursedirs = "tests/unittests/scanned_resources"

[tool.isort]
profile = "black"

[tool.coverage.report]
exclude_lines = [
  "if TYPE_CHECKING:",
  "except ImportError:",
  "except pkg_resources.DistributionNotFound:",
  "...",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
