aiohttp==3.8.3 ; python_version >= "3.7" and python_version < "4.0"
aioredis==2.0.1 ; python_version >= "3.7" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.7" and python_version < "4.0"
aiozipkin==1.1.1 ; python_version >= "3.7" and python_version < "4.0"
alabaster==0.7.12 ; python_version >= "3.7" and python_version < "4.0"
anyio==3.6.2 ; python_version >= "3.7" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.7" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.7" and python_version < "4.0"
asynctest==0.13.0 ; python_version >= "3.7" and python_version < "3.8"
attrs==22.2.0 ; python_version >= "3.7" and python_version < "4.0"
babel==2.11.0 ; python_version >= "3.7" and python_version < "4.0"
black==22.12.0 ; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.7" and python_version < "4"
click==8.1.3 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.7" and python_version < "4.0" and platform_system == "Windows"
coverage[toml]==6.5.0 ; python_version >= "3.7" and python_version < "4.0"
docutils==0.17.1 ; python_version >= "3.7" and python_version < "4.0"
esbonio==0.14.3 ; python_version >= "3.7" and python_version < "4.0"
exceptiongroup==1.1.0 ; python_version >= "3.7" and python_version < "3.11"
fastapi==0.85.2 ; python_version >= "3.7" and python_version < "4.0"
flake8==5.0.4 ; python_version >= "3.7" and python_version < "4.0"
frozenlist==1.3.3 ; python_version >= "3.7" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.7" and python_version < "4.0"
httpcore==0.16.3 ; python_version >= "3.7" and python_version < "4.0"
httpx==0.23.2 ; python_version >= "3.7" and python_version < "4.0"
idna==3.4 ; python_version >= "3.7" and python_version < "4"
imagesize==1.4.1 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.2.0 ; python_version >= "3.7" and python_version < "3.8"
iniconfig==1.1.1 ; python_version >= "3.7" and python_version < "4.0"
isort==5.11.4 ; python_version >= "3.7" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.7" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.7" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.7" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==0.4.3 ; python_version >= "3.7" and python_version < "4.0"
mypy==0.982 ; python_version >= "3.7" and python_version < "4.0"
packaging==22.0 ; python_version >= "3.7" and python_version < "4.0"
pathspec==0.10.3 ; python_version >= "3.7" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
prometheus-client==0.14.1 ; python_version >= "3.7" and python_version < "4.0"
purgatory==1.0.1 ; python_version >= "3.7" and python_version < "4.0"
pycodestyle==2.9.1 ; python_version >= "3.7" and python_version < "4.0"
pydantic==1.10.4 ; python_version >= "3.7" and python_version < "4.0"
pyflakes==2.5.0 ; python_version >= "3.7" and python_version < "4.0"
pygls==0.13.1 ; python_version >= "3.7" and python_version < "3.11"
pygments==2.14.0 ; python_version >= "3.7" and python_version < "4.0"
pyspellchecker==0.7.1 ; python_version >= "3.7" and python_version < "4.0"
pytest-asyncio==0.19.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-cov==4.0.0 ; python_version >= "3.7" and python_version < "4.0"
pytest==7.2.0 ; python_version >= "3.7" and python_version < "4.0"
pytz==2022.7 ; python_version >= "3.7" and python_version < "4.0"
redis==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.7" and python_version < "4"
result==0.9.0 ; python_version >= "3.7" and python_version < "4.0"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.7" and python_version < "4.0"
setuptools==65.6.3 ; python_version >= "3.7" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.7" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.7" and python_version < "4.0"
sphinx-rtd-theme==1.1.1 ; python_version >= "3.7" and python_version < "4.0"
sphinx==4.3.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.7" and python_version < "4.0"
starlette-zipkin==0.3.0 ; python_version >= "3.7" and python_version < "4.0"
starlette==0.20.4 ; python_version >= "3.7" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.7" and python_full_version < "3.11.0a7"
tomlkit==0.11.6 ; python_version >= "3.7" and python_version < "4.0"
typed-ast==1.5.4 ; python_version >= "3.7" and python_version < "3.8"
typeguard==2.13.3 ; python_version >= "3.7" and python_version < "3.11"
types-redis==4.3.21.7 ; python_version >= "3.7" and python_version < "4.0"
types-setuptools==65.6.0.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
unasync==0.5.0 ; python_version >= "3.7" and python_version < "4"
urllib3==1.26.13 ; python_version >= "3.7" and python_version < "4"
uvicorn==0.18.3 ; python_version >= "3.7" and python_version < "4.0"
yarl==1.8.2 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.11.0 ; python_version >= "3.7" and python_version < "3.8"
